/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 340px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 340px;
  padding-top: 40px;
  background-color: #f5f5f5;
}



/* Davis Template Specific CSS */



/*GLOBAL*/

* {
    color: #3b474b;
    /*font-family: 'Hind', sans-serif;*/
    font-family: 'Oswald', sans-serif;
    line-height: 1.6;
}

h1, h2, h3 {
    line-height: 1.6;
}

h4, h5, h6, p, a, input, label {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

p {
    font-size: 16px;
}

.davis-brand {
    font-family: 'Patrick Hand', cursive;
     color: #3478bf;
    font-size: 150%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.overflow-hide {
    overflow: hidden;
}

.mobile-hide {
    display: none;
}

.bordTop {
    border-top: 1px solid #d4d4d4;
    margin-top: 20px;
    padding: 30px 0;
}

/*BRAND*/
.navbar-brand {
    font-family: 'Patrick Hand', cursive;
    font-size: 36px;
}


/*NAV & BUTTONS\*/

.navbar {
    background: #fff;
    border-bottom: 1px solid #e9e9e9;
}

.navbar-nav li a, .btn {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.navbar-nav li a {
    color: #3b474b;
}

.navbar-nav li a:hover {
    color: #5f757c;
    background: transparent;
}

.sign-in {
    color: #3478bf!important;
}

.sign-in:hover {
    color: #    3478bf!important;
}

.btn {
    padding: 15px 0;
    border-radius: 3px;
    border: 0px!important;
    width: 100%;
}

.btn-primary {
    background: #3478bf!important;
}

.btn-primary:hover {
    background: #265f9a!important;
    border-color: 0px;
}

.navbar-toggle .icon-bar {
    background: #000;
}



/*HERO*/

.jumbotron {
    position: relative;
    overflow: hidden;
    height: 500px;
}

.v-align-text {
    width: 100%;
    position: absolute;
    top: 55%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.jumbotron p {
    font-size: 16px;
}


/*Map Section*/

.padB50 {
    padding-bottom: 50px;
}

.step-desc {
    margin-bottom: 50px;
}

.davis-mapping-left-one {
    top:0;
    right:0;
    height: 100px;
    width:50%;
    border-radius:0 0 0 15px; 
    border-left: 5px dashed #ddd;
    border-bottom:5px dashed #ddd;
}

.davis-mapping-right-one {
    bottom:0;
    left:-10px;
    height: 100px;
    width:52%;
    border-radius:0 15px 0 0; 
    border-top: 5px dashed #ddd;
    border-right:5px dashed #ddd;
}

.davis-mapping-left-two {
    bottom:0;
    right: 0px;
    height: 100px;
    width:52%;
    border-radius:15px 0 0 0; 
    border-top: 5px dashed #ddd;
    border-left:5px dashed #ddd;
}

.davis-mapping-right-two {
    top:0;
    left:-10px;
    height: 100px;
    width:50%;
    border-radius:0 0 15px 0; 
    border-right: 5px dashed #ddd;
    border-bottom:5px dashed #ddd;
}

.map-block {
    padding: 20px 0;
    width: 100%;
    border-radius: 5px;
}

.reflect {
    background: #EFA261;
}

.learn {
    background: #43D082;
}


.campus {
    background: #5490CE;
}


/*SIGN UP FORM*/
.ed-signup-bg {
	width: 100%;
	height: 100vh;
	margin-bottom: 0px!important;
	background: url('../img/davis-bg.jpg'); 
	background-repeat:no-repeat;
	background-size:cover;	
}

.ed-signup-form {
	background-color:#fff; 
	padding: 40px;
	box-shadow: 0 0 20px #999;
	border-radius:3px;
}

/*FOOTER*/

footer i {
    font-size: 28px!important;
    padding: 20px 10px;
}

footer i:hover {
    color: #666;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
    .btn {
    padding: 15px 30px;
    width: initial;
    }
  }


@media (min-width: 992px) {

    .scroll-up .navbar {
        padding: 15px 0;
        -webkit-transition: 200ms linear all;
        transition: 200ms linear all;
    }
    
    .scroll-down .navbar {
        padding: 0px;
    }
    
    .scroll-up .navbar-brand {
        font-family: 'Patrick Hand', cursive;
        font-size: 42px;
        -webkit-transition: 200ms linear all;
        transition: 200ms linear all;
    }
    
    
    .scroll-down .navbar-brand {
        font-family: 'Patrick Hand', cursive;
        font-size: 36px;
    }
    
    .step-title {
        margin-top: 50px;
    }
    
    .step-desc {
        margin-bottom: 0;
        text-align: justify;
    }
    
    .jumbotron .v-align-text {
    top: 60%;
    }

    
    .jumbotron {
        height: 620px;
    }
    
    .jumbotron img {
        width: 100%;
    }
    
    .jumbotron p {
    font-size: 21px;
    }

    .mobile-hide {
        display: block;
    }
    
    .bordTop {
        border-top: 1px solid #d4d4d4;
        margin-top: 30px;
        padding: 40px 0;
    }
    
    .maxWid100 {
	    max-width: 100%;
    }
}



/** EDIT CUSTOMER PAGE UPDATE **/


.ed-bg-list-users {
	width: 100%;
	height: 100vh;
	margin-bottom: 0px!important;
	background: url('../img/davis-bg.jpg'); 
	background-repeat: repeat-y;
	background-size:cover;	
}

.edit_customer {
	width:50%;
}


.edit_customer [type|="submit"] {
 margin-top:18px;
}

.edit_customer form {
  margin-top:20px;	
}

.user_msg {
width:100%;
padding-top:12px;	
}

table.user_list {
  margin-bottom:40px;
}

table.user_list, table.user_list tr {
width:100%;
background-color:#ffffff;
padding:18px;	
}

table.user_list th {
 padding:12px;
}

table.user_list td {
 padding:12px;	
}




