* {
	font-family: 'Hind', sans-serif;
}

*:focus {
    outline: none;
}

body {
	color: #333;
	background: #f4f4f4;
	font-size: 18px;
}

#container, .container {
	max-width: 1200px;
	width: 95%;
	margin: 0 auto;
}

#slideBG {
 	background: #fff;
}

#content-wrapper {
	min-height: 680px;
	margin-bottom: 20px;
}

.content {
	width: 100%;
	max-width: 960px;
	padding: 0px;
	padding-bottom: 30px;
}

img {
	display: inline;
}


/*GRID*/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-left: 0px;
	padding-right: 0px;
}


/*Typography*/

h1 {
	font-family: 'Patrick Hand SC', cursive!important;
}

h2, h3, h4, h5, h6, p {
	font-family: 'Hind', sans-serif;
}

.brandTxt {
	font-family: 'Patrick Hand SC', cursive!important;
}

.txt-success {
	color: #34BF72;
}

.progress {
	background: #d9d9d9;
	box-shadow: none; 
}

.progress-bar {
	background-color: #8ea6c0;
}


.project_banner_wrapper {
	width: 100%!important;
	margin: 0!important;
	padding: 0px;
}


#beginQBtn, #prevQBtn, #resumeBtn {
	display: inline-block;
}

.btn {
    padding: 20px;
    border: 2px solid;
    box-sizing: border-box;
    text-decoration: none;
    margin-top: 20px;
  	text-transform: uppercase;
  	letter-spacing: 1.6px;
  	font-size: 14px;
  	line-height: 1.4;
  	font-weight: 700;
  	transition: all 100ms linear;
}

.btn-primary {
	border-color: #3478BF!important;
	background-color: #3478BF!important;
	color: #fff;
}

.btn-primary:hover {
	border-color: #25609e;
	background-color: #25609e;
}

.btn-danger {
	border-color: #BF4134;
	background-color: #BF4134;
	color: #fff;
}

.btn-danger:hover {
	border-color: #a8362a;
	background-color: #a8362a;
}

.btn-success {
	border-color: #34BF72;
	background-color: #34BF72;
	color: #fff;
}

.btn-success:hover {
	border-color: #26a961;
	background-color: #26a961;
}

.btn-default {
	border-color: #333;
	background-color: #333;
	color: #fff;
}

.btn-default:hover {
	border-color: #000;
	background-color: #000;
	color: #fff;
}

.btn-secondary {
	border-color: #999;
	background-color: #999;
	color: #fff;
}

.btn-secondary:hover {
	border-color: #666;
	background-color: #666;
	color: #fff;
}

.btn-low-nav {
	background: transparent;
	width: 150px;
	text-align: center;
}

#btn {
	text-transform: uppercase;
	font-family: "Oswald";
	letter-spacing: 1px;
}


#resumeBtn, #resumeBtn input {
  text-align:center;	
}

#resumeBtn, #resumeBtn input {
 padding:0px;
 padding-top: 15px;	
 padding-bottom:15px;
}

#nextQBtn, #prevQBtn, #resumeBtn {
	display: inline-block;
	outline: none;
}

#prevQBtn, #resumeBtn  {
margin-right: 10px;
}

#nextQBtn input {
	border-color: #3478BF!important;
	background-color: transparent;
	color: #3478BF!important;
}

#nextQBtn input:hover {
	background: #3478BF!important;
	color: #FFF!important;	
}

#prevQBtn input, #resumeBtn input {
	background-color: transparent;
	border-color: #999;
	color: #999;
}

#prevQBtn input:hover, #resumeBtn input:hover, #resumeBtn input:hover {
	background: #333;
	border-color: #333; 
	color: #FFF;	
}

.btn-outline-grey {
	background-color: transparent;
	border-color: #999;
	color: #999;	
}

.btn-outline-grey:hover {
	background: #333;
	border-color: #333; 
	color: #FFF;	
}

.btn-outline-blu {
	border-color: #3478BF!important;
	background-color: transparent;
	color: #3478BF!important;
}

.btn-outline-blu:hover {
	background: #3478BF!important;
	color: #FFF!important;	
}








.q-container {
	max-width: 720px;
	width: 90%;
	margin: 0 auto;
}

.qb {
	width: 100%;
	padding: 10px;
	font-size: 18px;
	cursor: pointer;
	transition: all 100ms linear;
	margin-bottom: 10px;
	border-radius: 3px;
}

.qb-success {
	background-color: #34BF72;
	color: #fff;
}

.qb-danger {
	background-color: #BF4134;
	color: #fff;
}

.qb-wouldbe {
	background-color: #84deac;
	color: #1d9a55;
}

.qb-default {
	background-color: #ccc;
	color: #333;
}

.qb-default:hover {
	background-color: #3478BF;
	color: #fff;
}

.correct-answer {
	background: #fff;
	margin-top: 20px;
	padding: 20px;
	border-radius: 3px;
}

/*opening page*/

#project_title {
	margin-top: 20px;
}

#openingText {
	top: 30vh!important;
}

/*Quiz Questions*/

.optionOutCss, .optionOverCss {
	padding: 10px;
	color: #333;
	margin: 0px; 
}

.optionOutCss {
	background: #ccc;
}

.optionOverCss {
	background: #3478BF;
	color: #fff;
}


.possible_answer {
	margin: 0px;
}

#txt1 {
	background-color: #fff;
}

.answer-block {
	margin: 20px;
	padding: 30px 0;
}


