@font-face {
    font-family: 'colaborate-thinregular';
    src: url('fonts/colaborate-thin/ColabThi-webfont.eot');
    src: url('fonts/colaborate-thin/ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/colaborate-thin/ColabThi-webfont.woff') format('woff'),
         url('fonts/colaborate-thin/ColabThi-webfont.ttf') format('truetype'),
         url('fonts/colaborate-thin/ColabThi-webfont.svg#colaborate-thinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'colaborate-regular';
    src: url('fonts/colaborate-reg/ColabReg-webfont.eot');
    src: url('fonts/colaborate-reg/ColabReg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/colaborate-reg/ColabReg-webfont.woff') format('woff'),
         url('fonts/colaborate-reg/ColabReg-webfont.ttf') format('truetype'),
         url('fonts/colaborate-reg/ColabReg-webfont.svg#colaborate-thinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'archisticonormal';
    src: url('fonts/archistico/Archistico_Simple-webfont.eot');
    src: url('fonts/archistico/Archistico_Simple-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/archistico/Archistico_Simple-webfont.woff') format('woff'),
         url('fonts/archistico/Archistico_Simple-webfont.ttf') format('truetype'),
         url('fonts/archistico/Archistico_Simple-webfont.svg#archisticonormal') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    background: #fff;
    padding: 0;
    margin: 0;
    color: #676767;
}

h1 {
    font-family: 'archisticonormal', serif;
    font-size: 10rem;
    margin: 1rem;
}

h2,h3,h4,h5,h6,p,a,li {
    font-family: 'colaborate-thinregular', serif;
}

h2 {
    font-size: 3.0rem;
    line-height: 1.4;
}

.group:after {
		content: "";
		display: table;
		clear: both;
}

.col-8, .col-4 {
    display: inline-block;
    float: left;
}

.col-8 {
    width: 66%;
}

.col-4 {
    width: 33%;
}

.blu-txt {
    color: #4990A7;
    background: transparent;
}

.txt-center {
    text-align: center;
}

#content-wrapper {
    background: #fff;
    width:100%;
    margin: 0 auto;
}

.content h2 {
	  line-height:38px;	
	  color:#cf7e0b;
	}

.relative {
    position: relative;
}

.v-align-box {
    position: absolute;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.heading{
    padding: 25px 20px;
}
.heading h1{
    text-align: center;
    
}

.content {
    max-width: 820px;
    margin: 0 auto;
    padding: 0 10px;
}

.list-items {
    font-size: 3rem;
    padding-top: 20px;
    margin-left: 20px;
	line-height:40px;
}

.list-items li {
    margin: 10px;
    list-style-type: disc;
}

.btn {
    padding: 15px 20px;
    border: 2px solid;
    text-decoration: none;
    margin-top: 20px;
    font-family: 'colaborate-regular', sans-serif;
}

.btn-next {
    color: #666;
    border-color:#666;
    background: transparent;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.2s ease-in-out;
}

.btn-next:hover {
    background: #666;
    color: #fff;
}

.next-bar {
    display: block;
    padding-top:50px;
}

.numbers-list .number-round {
    padding: 2px 10px 3px 8px;
    border-radius: 50%;
    background: #6fb7ce;
    color: #fff;
    font-size: 22px;
    font-family: 'colaborate-regular', sans-serif;
    box-shadow: -3px -3px 0px #666;
}

.numbers-list li {
    margin: 30px 0;
}

.number-line {
    width: 70%;
    height: 2px;
    border-bottom: 2px solid #d4d4d4;
    margin-left: 40px;
}

@media screen and (max-width: 767px) {
    
.project_banner_wrapper {
 width:90%;	
 margin-top:3%;
 margin-left:4%;
 
}
	
	#questionContainer {
	
	   height:100%;	
	   margin-top:0px;
	   padding-top:0px;
	}
	
	#optionContainer, #optionContainer .col-md-12 {

	   height:100%;	
	   margin-top:-30px;
	   padding-top:0px;
	}
	
	
	h1 {
        font-size: 8rem;
    }
    
    h2 {
        font-size: 3rem;
    }
    
    .list-items {
        font-size: 2.4rem;
        line-height: 1.4;
        padding: 0px;
    }
    
    .col-8, .col-4 {
        display: block;
        float:none;
        width: 100%;
    }
    
    .david-numbers {
        display: none;
    }
    
}

@media screen and (max-width: 480px) {
    

.project_banner_wrapper {
 width:90%;	
 margin-top:3%;
 margin-left:6%;
 
}

.heading { /* wraps the Welcome h1 */
  height:auto;
  padding:0px;
  margin:0px;	
}
	
	#questionContainer {
	
	   height:100%;	
	   margin-top:0px;
	   padding-top:0px;
	}
	
	#optionContainer, #optionContainer .col-md-12 {
	
	   height:100%;	
	   margin-top:0px;
	   padding-top:0px;
	}
	
	.list-items {
 
	   line-height: 1.4;
    }
	
	
	h1 {
        font-size: 6rem;
    }
    
    .next-bar {
        width: 100%;
        position: fixed;
        bottom:0;
        left:0;
        padding-top: 5px;
        padding-bottom: 5px;
        background: rgba(255,255,255,.9);
        
    }
    
    .btn {
        width:80%;
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    

    
}